

.email:focus {
    background-color: antiquewhite;
}

li:first-child {
    background-color: rebeccapurple;
    color: wheat;
}

li:nth-child(2){
    background-color: yellow;
}

li::after {
    content: ' hello';
}


h1::first-letter {
    color: blue;
}

.email-disabled:disabled {
    
}